<a href="https://colab.research.google.com/github/dsg48/R-programming/blob/main/10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data(mtcars)

In [ ]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(tidyverse)

In [ ]:
View(mtcars)

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [ ]:
rm(mtcars)

In [ ]:
data(mtcars)

In [ ]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [ ]:
mtcars %>%
  group_by(am) %>%
summarise(mean_mpg = mean(mpg),sd_mpg = sd(mpg),n = n())

  am mean_mpg sd_mpg   n
1 0  17.14737 3.833966 19
2 1  24.39231 6.166504 13

In [ ]:
t.test(mpg~am,data = mtcars)

	Welch Two Sample t-test

data:  mpg by am
t = -3.7671, df = 18.332, p-value = 0.001374
alternative hypothesis: true difference in means between group 0 and group 1 is not equal to 0
95 percent confidence interval:
 -11.280194  -3.209684
sample estimates:
mean in group 0 mean in group 1
       17.14737        24.39231

In [ ]:
model1 <- lm(mpg~am,data = mtcars)
summary(model1)

Call:
lm(formula = mpg ~ am, data = mtcars)

Residuals:
    Min      1Q  Median      3Q     Max
-9.3923 -3.0923 -0.2974  3.2439  9.5077

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   17.147      1.125  15.247 1.13e-15 ***
am             7.245      1.764   4.106 0.000285 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 4.902 on 30 degrees of freedom
Multiple R-squared:  0.3598,	Adjusted R-squared:  0.3385
F-statistic: 16.86 on 1 and 30 DF,  p-value: 0.000285

In [ ]:
model2 <- lm(mpg~am + wt + hp,data = mtcars)
summary(model2)

Call:
lm(formula = mpg ~ am + wt + hp, data = mtcars)

Residuals:
    Min      1Q  Median      3Q     Max
-3.4221 -1.7924 -0.3788  1.2249  5.5317

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 34.002875   2.642659  12.867 2.82e-13 ***
am           2.083710   1.376420   1.514 0.141268
wt          -2.878575   0.904971  -3.181 0.003574 **
hp          -0.037479   0.009605  -3.902 0.000546 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.538 on 28 degrees of freedom
Multiple R-squared:  0.8399,	Adjusted R-squared:  0.8227
F-statistic: 48.96 on 3 and 28 DF,  p-value: 2.908e-11

In [ ]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(tidyverse)

In [ ]:
install.packages("nycflighs13")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message:
“package ‘nycflighs13’ is not available for this version of R

A version of this package for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages”

In [ ]:
data(nycflighs13)

Warning message in data(nycflighs13):
“data set ‘nycflighs13’ not found”

In [ ]:
install.packages("remotes")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
remotes::install_github("hadley/nycflights13")

Downloading GitHub repo hadley/nycflights13@HEAD

── R CMD build ─────────────────────────────────────────────────────────────────
* checking for file ‘/tmp/RtmpRYk18u/remotes20a4a367009/tidyverse-nycflights13-df98ef2/DESCRIPTION’ ... OK
* preparing ‘nycflights13’:
* checking DESCRIPTION meta-information ... OK
* checking for LF line-endings in source and make files and shell scripts
* checking for empty or unneeded directories
* building ‘nycflights13_1.0.2.9000.tar.gz’

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(nycflights13)

In [ ]:
data(nycflights13)

Warning message in data(nycflights13):
“data set ‘nycflights13’ not found”

In [ ]:
library(readr)

flights <- read_csv("https://raw.githubusercontent.com/jpatokal/openflights/master/data/flights.dat")
head(flights)

Warning message:
“Failed to open 'https://raw.githubusercontent.com/jpatokal/openflights/master/data/flights.dat': The requested URL returned error: 404”

ERROR: Error in open.connection(structure(4L, class = c("curl", "connection"), conn_id = <pointer: 0x5d485c9f2ba0>), : cannot open the connection

In [ ]:
# Load required libraries
library(readr)
library(dplyr)
library(lubridate)

# -------------------------------
# 1. Load datasets from online CSVs
# -------------------------------

# Flights dataset
flights <- read_csv("https://raw.githubusercontent.com/ismayc/pnwflights14/master/data/flights.csv")

# Airlines dataset
airlines <- read_csv("https://raw.githubusercontent.com/ismayc/pnwflights14/master/data/airlines.csv")

# Airports dataset
airports <- read_csv("https://raw.githubusercontent.com/ismayc/pnwflights14/master/data/airports.csv")

# Weather dataset
weather <- read_csv("https://raw.githubusercontent.com/ismayc/pnwflights14/master/data/weather.csv")

# -------------------------------
# 2. Quick data inspection
# -------------------------------
head(flights)
summary(flights)

# -------------------------------
# 3. Data cleaning examples
# -------------------------------

# 3a. Handle missing values
flights_clean <- flights %>%
  filter(!is.na(dep_time), !is.na(arr_time))

  # 3b. Convert scheduled departure time (HHMM) to proper datetime
  flights_clean <- flights_clean %>%
    mutate(
        hour = sched_dep_time %/% 100,
            minute = sched_dep_time %% 100,
                sched_dep_datetime = make_datetime(year, month, day, hour, minute)
                  )

                  # 3c. Remove extreme arrival delays
                  flights_clean <- flights_clean %>%
                    filter(arr_delay > -100, arr_delay < 1000)

                    # -------------------------------
                    # 4. Join with airlines dataset
                    # -------------------------------
                    flights_clean <- flights_clean %>%
                      left_join(airlines, by = "carrier")

                      # -------------------------------
                      # 5. Example analysis: Average delay by airline
                      # -------------------------------
                      avg_delay <- flights_clean %>%
                        group_by(name) %>%
                          summarise(avg_arrival_delay = mean(arr_delay, na.rm = TRUE)) %>%
                            arrange(desc(avg_arrival

ERROR: Error in parse(text = input): <text>:61:0: unexpected end of input
59:                           summarise(avg_arrival_delay = mean(arr_delay, na.rm = TRUE)) %>%
60:                             arrange(desc(avg_arrival
   ^